body{
    background-color: black;
    span {
        color: #FFFF;
    }
    background:url('@img/qanew.png') 0 0 no-repeat;
}

@media (max-width: 786px) {
    span {
        font-size: 20px;
    }
}
@media (max-width: 786px) {
    body {
        color: aqua;
    }
}